{% if page.carousel != empty %}
  <div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
      {% for image in page.carousel %}
        <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner">
      {% for image in page.carousel %}
        <div class="{% if forloop.first %}active {% endif %}item"{% if image.property %} itemprop="{{ image.property }}"{% endif %} itemscope itemtype="http://schema.org/ImageObject">
          <div class="hide">
            <meta itemprop="contentUrl image url" content="{{ image.url }}">
            <meta itemprop="isFamilyFriendly" content="true">
            {% if image.height %}<meta itemprop="height" content="{{ image.height }}">{% endif %}
            {% if image.width %}<meta itemprop="width" content="{{ image.width }}">{% endif %}
          </div>

          <img src="{{ image.url }}" alt="{% if image.title %}{{ image.title | escape }}{% else %}Image {{ forloop.index }}{% endif %}">

          {% if image.title or image.caption %}
            <div class="carousel-caption">
              {% if image.title %}<h4 itemprop="name">{{ image.title | escape }}</h4>{% endif %}
              {% if image.caption %}<p itemprop="caption description headline">{{ image.caption | escape }}</p>{% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
  </div>
{% endif %}
