---
---
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

a,
.clickable {
  cursor: pointer;
}

abbr,
.help {
  cursor: help;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

form.donation {
  display: inline-block;
  margin: 0;
}

.change-log h2 {
  margin-top: 25px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;

  > hr {
    margin: 60px 0;
  }
}

.jumbotron {
  margin: 80px 0;
  text-align: center;

  h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
  }
  p {
    font-size: 40px;
    line-height: 1.25;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  .sharethis-inline-share-buttons {
    margin-top: 40px;
  }
}

.masthead .nav li {
  i {
    display: none;
  }

  &.active i {
    display: inline-block;
  }
}

.sidebar-nav {
  padding: 9px 0;
}

hr.nav-split {
  margin: 30px 0;
}

@media (max-width: 979px) {
  body {
    padding-bottom: 20px;
  }

  .container > hr {
    margin: 30px 0;
  }

  .jumbotron {
    margin: 40px 0;
  }
}

@media (max-width: 767px) {
  .jumbotron {
    h1 {
      font-size: 90px;
    }
    p {
      font-size: 24px;
    }
  }
}

@media (max-width: 520px) {
  form.donation {
    display: none;
  }
}

@media (max-width: 480px) {
  .jumbotron {
    h1 {
      font-size: 45px;
    }
    p {
      font-size: 18px;
    }
  }

  .masthead {
    h1,
    h2,
    h3 {
      line-height: 10px;
    }
    .nav-pills {
      float: none;
    }
  }
}
